.container {
  width: 65%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    width: 100%;
  }
  .profile {
    width: 60%;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
  }
}
